 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles
body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

.hero-unit {
  margin: 50px auto 0 auto;
  width: 800px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: #eee;
  border-radius: 6px;
  padding: 60px;
  h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
  }
}
.postNoteArea {
  list-style: none;
}
.noteBox {
  float:left;
  padding:5px;
  margin: 5px;
  width:150px;
  height: auto;
  background-color:lightyellow;
  border: 2px solid lightblue;
  border-radius: 3px;
  font-size: 12px;
  .noteTitle {
    border-bottom: 2px solid darkblue;
    font-size: 16px;
  }
  .deleteNoteButton {
    width: 66px;
    line-height: 8px;
    font-size: 9px;
  }
  .editNoteButton {
    width: 66px;
    line-height: 8px;
    font-size: 9px;
  }
}//close .noteBox