<div class="add-vehicle">
	<div class="form">

		<form ng-submit="addVehicle(vehicle)" id="addForm">
		  <input ng-model="vehicle.name" type="text" placeholder="Vehicle Name"><br />
		  <input ng-model="vehicle.year" type="text" placeholder="Model Year"><br/>
		  <input ng-model="vehicle.mileage" type="text" placeholder="mileage"><br/>
		  <textarea ng-model="vehicle.desc" placeholder="General description of vehicle"></textarea><br />
		  <button>Add vehicle</button>	
		</form>
	</div>

</div>



