<ul class="vehicle information">
	<li ng-repeat="vehicle in allVehicles">
		<div class="infoBox">
			<div class="vehicleName">Name: {{ vehicle.name }} </div>
			<div class="vehicleYear">Year: {{ vehicle.year }} </div>
			<div class="vehicleMileage">Mileage: {{ vehicle.mileage }} </div>
			<div>{{ vehicle.desc }}</div>
			<a href="#edit"><button ng-click="editVehicle(vehicle)" class="editVehicleButton">Edit Vehicle</button></a>
			<button ng-click="removeVehicle(vehicle)" class="deleteVehicleButton">Delete Vehicle</button>
		</div>
	</li>
</ul>
 
 

 